.site-header {
  background-color: rgba($white, 0.98);
  position: relative;
  z-index: $z-nav;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .tmp-logo-wrapper {
      opacity: 1;
    }
  }

  .tmp-logo-wrapper {
    position: absolute;
    left: $large-spacing;
    top: $small-spacing;
    height: em(90);
    width: em(90);
    border-radius: em(50);
    background-color: rgba($tmp-dark, 0.7);
    text-align: center;
    opacity: 0;
    transition: opacity $quick-ease;

    .tmp-logo {
      position: absolute;
      width: 70%;
      height: auto;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
    }
  }

  .navigation {
    text-align: center;

    .nav-list {

      .search-wrapper {
        padding: $base-spacing $small-spacing;
        opacity: 0.4;
        transition: opacity $quick-ease;
        cursor: pointer;
        display: inline-block;

        .search-icon {
          width: auto;
          height: em(18);
          transform: translateY(2px);
        }

        &:hover {
          opacity: 1;
        }
      }

      .nav-item {
        padding: $base-spacing $small-spacing;
        font-family: $sans;
        font-weight: 600;
        display: inline-block;
      }

      a {
        color: rgba($tmp-dark, 0.7);
        font-size: rem(18);
        margin: 0;
        transition: color $quick-ease;

        &:hover {
          color: $tmp-brand;
        }
      }
    }
  }

  .social-links {
    position: absolute;
    top: 51%;
    right: $large-spacing;
    transform: translateY(-50%);

    .social-list {

      .social-item {
        transition: background-color $quick-ease;
        background-color: $tmp-light;
        border-radius: em(14);
        display: inline-block;
        height: em(30);
        width: em(30);
        margin-left: $small-spacing;

        &:hover {
          background-color: $tmp-dark;
        }
      }
    }
  }
}
