body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: rem(48);
  line-height: rem(60);
  font-style: italic;
  font-weight: 500;
}

h2 {
  font-size: rem(36);
  line-height: rem(44);
  font-style: italic;
  text-transform: uppercase;
  font-weight: 800;
}

h3 {
  font-size: rem(18);
  line-height: rem(24);
  font-style: italic;
  font-weight: 400;
}

p {
  font-size: rem(18);
  margin: 0 0 $small-spacing;

  &.caption {
    font-size: rem(16);
    font-family: $sans;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
