.aside-column {
  @include span-columns(3);
  padding: 0 $base-spacing;

  .about-tmp {
    .about-img {
      background-image: url("../img/brand/tmp-photo.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100%;
      margin-bottom: $base-spacing;

      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }

    .about-blurb {
      margin-bottom: $base-spacing;
    }
  }
}
