.aside-column {

  &.left {
    @include span(5 of 24);
    padding: $large-spacing 0 $large-spacing span(1 of 24);

    @include breakpoint($vp4) {
      @include span(3);
    }

    @include breakpoint($vp4) {
      @include span(3);
    }

    @include breakpoint($vp2) {
      display: none;
    }
  }

  &.right {
    @include span(5 of 24);
    @include pull(2 of 24);
    // @include span(2 of 12);
    // @include pull(1 of 24);
    padding: $large-spacing $base-spacing;
    transition: all $quick-ease;

    // @include breakpoint($vp5) {
    //   @include span(5 of 24);
    //   @include pull(2 of 24);
    // }

    @include breakpoint($vp4) {
      display: none;
    }

    .about-blurb {
      font-size: rem(12);
      line-height: rem(18);
    }
  }

  .about-tmp {
    .logo-wrapper {
      width: 100%;
      height: auto;
      margin: 0 auto $small-spacing;
    }

    .about-img {
      background-image: url("../img/brand/tmp-photo.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100%;
      margin-bottom: $base-spacing;

      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }

    .about-names {
      font-size: rem(24);
      line-height: rem(30);
      color: darken($tmp-gray, 20%);

      @include breakpoint($vp4) {
        font-size: rem(21);
        line-height: rem(28);
      }

      @include breakpoint($vp3) {
        font-size: rem(18);
        line-height: rem(24);
      }
    }

    .about-blurb {
      margin-bottom: $base-spacing;
    }
  }
}
