.home-intro {

  &__top {
    background-color: $tmp-light;
    display: block;
    padding: $large-spacing 0;
    width: 100%;

    @include breakpoint($vp4) {
      padding: $base-spacing 0;
    }

    @include breakpoint($vp3) {
      padding: em(14) 0 em(16);
    }

    .logo-wrapper {
      display: block;
      height: rem(18);
      margin: 0 auto;
      text-align: center;

      @include breakpoint($vp4) {
        height: rem(16);
      }

      @include breakpoint($vp3) {
        height: rem(14);
      }

      .logotype {
        height: 100%;
        width: auto;
      }
    }
  }

  &__tagline {
    z-index: $z-post-content;
    background-color: rgba($white, 0.9);
    color: $tmp-gray;
    padding: em(70) 0 0;

    @include breakpoint($vp4) {
      padding: em(60) 0 0;
    }

    @include breakpoint($vp3) {
      padding: em(40) 0 em(20);
    }

    .tagline-text {
      @include span(6);
      @include push(3);
      margin-bottom: 0;
      text-align: center;

      @include breakpoint($vp3) {
        @include span(8);
        @include push(2);
      }

      @include breakpoint($vp2) {
        @include span(10);
        @include push(1);
      }
    }
  }
}
