.home-intro {

  &__top {
    background-color: $tmp-light;
    display: block;
    padding: $large-spacing 0;
    width: 100%;

    .logo-wrapper {
      display: block;
      height: rem(24);
      margin: 0 auto;
      width: rem(420);
      text-align: center;

      .logotype {
        height: 100%;
        width: auto;
      }
    }
  }

  &__tagline {
    background-color: rgba($white, 0.9);
    color: $tmp-gray;
    padding: $large-spacing 0 $base-spacing;
    text-align: center;

    .tagline-text {
      margin-bottom: 0;
    }
  }
}
