<nav class="navigation">
  <ul class="nav-list">
    <li class="search-wrapper"><img class="search-icon" src="/assets/img/icons/search-icon.svg" onerror="this.onerror=null; this.src='/assets/img/icons/search-icon.png'"></li>
    {% for navLink in mainNavigation.navigationItems %}
      {% set link = navLink.linkInfo %}
      <a href="{{ link.url }}" {{ link.target ? ' target="_blank"' }} title="{{ link.linkText }}"><li class="nav-item">{{ link.linkText }}</li></a>
    {% endfor %}
  </ul>
</nav>