{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

	<script src="https://use.typekit.net/hqj3djf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<link rel="home" href="{{ siteUrl }}" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="tk-fade">
	<section class="home-intro">
		<div class="home-intro__top">
			<div class="logo-wrapper">
				<img class="logotype" src="assets/img/brand/tmp-logotype.svg" onerror="this.onerror=null; this.src='assets/img/brand/tmp-logotype@2x.png'">
			</div>
		</div>
		<div class="home-intro__tagline">
			<div class="grid">
				<h1 class="tagline-text grid-6">Redefining proper for the modern homemaker.</h1>
			</div>
		</div>
	</section>
	<header id="header" class="site-header">
		<div class="grid -rel">
			<a href="/">
				<div class="tmp-logo-wrapper">
					<img class="tmp-logo" src="assets/img/brand/tmp-logo.svg" onerror="this.onerror=null; this.src='assets/img/brand/tmp-logo.png'">
				</div>
			</a>
			<nav class="navigation">
				<ul class="nav-list">
					<li class="search-wrapper"><img class="search-icon" src="assets/img/icons/search-icon.svg" onerror="this.onerror=null; this.src='assets/img/icons/search-icon.png'"></li>
					<a href="#"><li class="nav-item">About</li></a>
					<a href="#"><li class="nav-item">Shop</li></a>
					<a href="#"><li class="nav-item">Archive</li></a>
				</ul>
			</nav>
			<div class="social-links">
				<ul class="social-list">
					<a href="#" class="social-item"><li></li></a>
					<a href="#" class="social-item"><li></li></a>
					<a href="#" class="social-item"><li></li></a>
					<a href="#" class="social-item"><li></li></a>
				</ul>
			</div>
		</div>
	</header>

	<main id="content" role="main" class="grid">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<footer id="footer">
		Copyright {{ now.year }} / {{ craft.request.serverName }}
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
  <script src="/assets/js/vendor/lazyload.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>
