{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<div class="grid">
	<aside class="aside-column">
    <section class="about-tmp">
      <div class="about-img"></div>
      <h3>Natalie Mortimer <span class="no-wrap">& Holly Erickson</span></h3>
      <p class="about-blurb caption">Quis aute iure reprehenderit in voluptate velit esse. Idque Caesaris facere voluntate liceret: sese habere.</p>
      <div class="btn aside gray">About us</div>
    </section>
  </aside>
  <div class="home-posts">
    <article class="post-summary">
      <div class="post-image"></div>
      <div class="post-description">
        <h3 class="post-date">August 22, 2015</h3>
        <h2 class="post-title">Awesome blog post title</h2>
        <p class="post-blurb">Phasellus laoreet lorem vel dolor tempus vehicula. Integer legentibus erat a ante historiarum dapibus. Hi omnes lingua, institutis, legibus inter se differunt. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Quisque ut dolor gravida, placerat libero vel, euismod.</p>
        <a href="#" class="post-link btn pop">Read more</a>
      </div>
    </article>
    <article class="post-summary">
      <div class="post-image"></div>
      <div class="post-description">
        <h3 class="post-date">August 22, 2015</h3>
        <h2 class="post-title">Awesome blog post title</h2>
        <p class="post-blurb">Phasellus laoreet lorem vel dolor tempus vehicula. Integer legentibus erat a ante historiarum dapibus. Hi omnes lingua, institutis, legibus inter se differunt. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Quisque ut dolor gravida, placerat libero vel, euismod.</p>
        <a href="#" class="post-link btn pop">Read more</a>
      </div>
    </article>
    <article class="post-summary">
      <div class="post-image"></div>
      <div class="post-description">
        <h3 class="post-date">August 22, 2015</h3>
        <h2 class="post-title">Awesome blog post title</h2>
        <p class="post-blurb">Phasellus laoreet lorem vel dolor tempus vehicula. Integer legentibus erat a ante historiarum dapibus. Hi omnes lingua, institutis, legibus inter se differunt. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Quisque ut dolor gravida, placerat libero vel, euismod.</p>
        <a href="#" class="post-link btn pop">Read more</a>
      </div>
    </article>
  </div>
</div>
{% endblock %}
