{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}
<div class="grid">

  {% set vars = {'align' : 'left'} %}
  {% include 'partials/_aside' with vars %}

  <div class="home-posts">

    {% set posts = craft.entries.section('posts') %}
    {% for post in posts %}
      <article class="post-summary">
        <div class="post-image-wrapper"><a href="{{ post.url }}"><img class="post-image" src="{{ post.featuredImage.first.url }}" alt=""></a></div>
        <div class="post-description">
          <h3 class="post-date">{{ post.postDate|date("F j, Y") }}</h3>
          <a href="{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
          <p class="post-blurb">{{ post.postSummary }}</p>
          <a href="{{ post.url }}" class="post-link btn gray">Read more</a>
        </div>
      </article>
    {% endfor %}

  </div>
</div>
{% endblock %}
